// out: ../css/cl-wp-info-admin.min.css, compress: true, strictMath: true

@gris-claro: #ccc;
@azul-claro: #accde0;

.cl-tabla-general {
    border: 1px solid @gris-claro;
    margin: 10px auto;
    padding: 10px;
    width: 90%;

    td, th {
        border: 1px solid @gris-claro;
        padding: 5px 10px;
    }

    th {
        background-color: @gris-claro;
        text-align: right;
        width: 25%;
        vertical-align: top;
    }

    th[colspan]{
        text-align: center;
        background-color: @azul-claro;
        font-size: 150%;
    }
}

// Etilos para impresión (en papel, pdf, etc...)
@media print {
    // Ocultamos las barras de administración, mensajes de actualizaciones y errores
    #adminmenumain, #wpadminbar, #wpfooter, .updated, .error {
        display: none;
    }

    // Elimnaos el color gris del fondo de la página.
    .wp-admin {
        background-color: transparent;
    }

    // Eliminamos el margen izquierdo de la barra de menú
    #wpcontent {
        margin-left: 10px;
    }
}